.recipe-display-text {
  color: #ffeddb;
}
.recipe-display-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-neutral);
  padding: 2em;
  border-radius: 16px;
  margin: auto;
  margin-top: 10em;
  box-shadow: 0px 0px 20px 0px #5c4640;
}

.recipe-display {
  word-wrap: break-word;
  animation: transitionIn 1s;
  line-height: 2;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--color-light);
  color: var(--color-dark);
  white-space: pre-line;
  font-family: monospace;
  font-size: 14px;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    transform: translateX(0px);
  }
}
