.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background-color: #ffffff;
  height: 80vh;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0 0 20px #ececec;
}
