.logo-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 8em;
}
img {
  height: 6em;
}

p {
  font-size: 1.2em;
  margin: 0.5em;
  color: #7d5a50;
  font-family: "Hubballi", cursive;
}
