button {
  border: none;
  color: #fff1e2;
  background-color: #b4846c;
  font-family: monospace;
  height: 40px;
  width: 80px;
  margin: 1px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #c2927a;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.button:active {
  transform: scale(1);
}

.selected {
  background-color: #7d5a50;
}

.selected:hover {
  background-color: #916b61;
}

.multiplier-button {
  width: 40px;
}

.convert-button {
  background-color: #fff;
  margin-top: 2em;
  color: #7d5a50;
  width: 80px;
  border-radius: 25px;
  border: 2px dotted #b4846c;
  font-family: "Hubballi", cursive;
  font-size: 16px;
}

.convert-button:hover {
  background-color: #fff;
}

.arrowIconOk {
  margin-left: 0.5em;
  font-size: 16px;
}
.arrowIconBack {
  margin-right: 0.5em;
  font-size: 16px;
}
