button {
  border: none;
  color: var(--color-dark);
  background-color: var(--color-light);
  font-family: monospace;
  height: 40px;
  width: 80px;
  margin: 1px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-accent);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.button:active {
  transform: scale(1);
}

.selected {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.selected:hover {
  background-color: #916b61;
}

.multiplier-button {
  width: 40px;
}
