.recipe-input {
  width: 80%;
  height: 100px;
}

textarea {
  outline: none;
  resize: none;
  border: none;
  border-radius: 2px;
  background-color: #fff1e2;
  color: #7d5a50;
  line-height: 24px;
  padding: 10px;
}

::placeholder {
  color: #b4846c;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}
